 .searchPage {
    width:100%;
    height:500px;
    background-image:  url('../../img/backgroindImgSearch.jpeg');
    background-repeat: no-repeat;
  } 

  .searchPageForm{
    padding-top: 200px;
  }
