.pageBooks{
    margin-top: 50px;
    background-color:rgb(194, 170, 156);
}
.searchResultPage {
    
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;

}

.bookItem{
   
    text-align: center;
    float: left;
    width: 25%;
}